In [1]:
import pandas as pd
from time import time

from src.data.problem import Problem

from src.solvers.mip_solver import PaperMIPSolver, MIPSolver

from src.utils import calculate_costs

In [2]:
example_problem = Problem.from_example()

In [3]:
dataset_data_params = [(1, 5, 10, 10), (2, 5, 10, 10), (3, 5, 10, 10), 
                       (1, 5, 5, 5), (2, 5, 5, 5), (3, 5, 5, 5),
                       (1, 10, 10, 10), (2, 10, 10, 10), (3, 10, 10, 10), 
                       (1, 5, 10, 20), (2, 5, 10, 20), (3, 5, 10, 20), 
                       (1, 5, 20, 10), (2, 5, 20, 10), (3, 5, 20, 10), 
                       (1, 5, 20, 20), (2, 5, 20, 20), (3, 5, 20, 20)]

### Proble from Paper

Using the exact formulation of the problem (with minor corrections) from the paper

In [4]:
mip_solver = PaperMIPSolver(max_time=60)
start = time()
solution = mip_solver.solve(example_problem)
run_time = time() - start
solution, run_time

({'Operation1': {'Subtask1': 'Erfurt',
   'Subtask2': 'Erfurt',
   'Subtask4': 'Frankfurt',
   'Subtask5': 'Hamburg',
   'Subtask6': 'Berlin',
   'Subtask8': 'Erfurt',
   'Subtask9': 'Erfurt',
   'Subtask10': 'Bremen'},
  'Operation2': {'Subtask1': 'Hannover',
   'Subtask3': 'Dresden',
   'Subtask4': 'Frankfurt',
   'Subtask6': 'Berlin',
   'Subtask7': 'Hannover',
   'Subtask9': 'Dusseldorf',
   'Subtask10': 'Bremen'},
  'Operation3': {'Subtask1': 'Hannover',
   'Subtask4': 'Bremen',
   'Subtask5': 'Hamburg',
   'Subtask6': 'Berlin',
   'Subtask7': 'Hannover',
   'Subtask8': 'Erfurt',
   'Subtask10': 'Bremen'},
  'Operation4': {'Subtask1': 'Hannover',
   'Subtask2': 'Dresden',
   'Subtask3': 'Dresden',
   'Subtask4': 'Frankfurt',
   'Subtask8': 'Erfurt',
   'Subtask9': 'Erfurt',
   'Subtask10': 'Bremen'},
  'Operation5': {'Subtask1': 'Hannover',
   'Subtask2': 'Dresden',
   'Subtask3': 'Dresden',
   'Subtask4': 'Frankfurt',
   'Subtask5': 'Hamburg',
   'Subtask6': 'Berlin',
   'Subtask7': 'Hannover',
   'Subtask8': 'Erfurt',
   'Subtask9': 'Erfurt',
   'Subtask10': 'Bremen'}},
 1.224163293838501)

In [5]:
calculate_costs(example_problem, solution)

np.float64(8253.642421344399)

In [6]:
solutions = {"example": {"cost": calculate_costs(example_problem, solution), "solution": solution, "time": run_time}}

In [7]:
for param in dataset_data_params:
    number, operations, sub_operations, cities = param
    print(f"operations-{operations},sub_operations-{sub_operations},cities-{cities}-{number}")
    p = Problem.from_dataset(number, operations, sub_operations, cities)
    start = time()
    solution = mip_solver.solve(p)
    run_time = time() - start

    solutions[f"{operations},{sub_operations},{cities}-{number}"] = {"cost": calculate_costs(p, solution), 
                                                                     "solution": solution, 
                                                                     "time": run_time}

operations-5,sub_operations-10,cities-10-1
operations-5,sub_operations-10,cities-10-2
operations-5,sub_operations-10,cities-10-3
operations-5,sub_operations-5,cities-5-1
operations-5,sub_operations-5,cities-5-2
operations-5,sub_operations-5,cities-5-3
operations-10,sub_operations-10,cities-10-1
operations-10,sub_operations-10,cities-10-2
operations-10,sub_operations-10,cities-10-3
operations-5,sub_operations-10,cities-20-1
operations-5,sub_operations-10,cities-20-2
operations-5,sub_operations-10,cities-20-3
operations-5,sub_operations-20,cities-10-1
operations-5,sub_operations-20,cities-10-2
operations-5,sub_operations-20,cities-10-3
operations-5,sub_operations-20,cities-20-1
operations-5,sub_operations-20,cities-20-2
operations-5,sub_operations-20,cities-20-3

In [8]:
df_result = pd.DataFrame(solutions).T
df_result

,cost,solution,time
example,8253.642421,"{'Operation1': {'Subtask1': 'Erfurt', 'Subtask...",1.224163
"5,10,10-1",4131.125634,"{'Operation1': {'Sub-operation3': 'city1', 'Su...",0.832619
"5,10,10-2",5503.321218,"{'Operation1': {'Sub-operation1': 'city2', 'Su...",1.569982
"5,10,10-3",5849.87106,"{'Operation1': {'Sub-operation1': 'city2', 'Su...",2.316133
"5,5,5-1",2576.598208,"{'Operation1': {'Sub-operation3': 'city1', 'Su...",0.047644
"5,5,5-2",5425.946189,"{'Operation1': {'Sub-operation1': 'city4', 'Su...",0.057253
"5,5,5-3",6149.624015,"{'Operation1': {'Sub-operation1': 'city4', 'Su...",0.102458
"10,10,10-1",9761.358987,"{'Operation1': {'Sub-operation3': 'city1', 'Su...",3.621447
"10,10,10-2",10921.079954,"{'Operation1': {'Sub-operation1': 'city2', 'Su...",3.398963
"10,10,10-3",11187.172451,"{'Operation1': {'Sub-operation1': 'city2', 'Su...",2.623907
"5,10,20-1",3548.963825,"{'Operation1': {'Sub-operation3': 'city1', 'Su...",28.205571
"5,10,20-2",4524.805988,"{'Operation1': {'Sub-operation1': 'city13', 'S...",46.294328
"5,10,20-3",5452.526426,"{'Operation1': {'Sub-operation1': 'city11', 'S...",60.791091
"5,20,10-1",10879.150753,"{'Operation1': {'Sub-operation3': 'city7', 'Su...",60.409412
"5,20,10-2",12360.110746,"{'Operation1': {'Sub-operation1': 'city7', 'Su...",60.551619
"5,20,10-3",13205.052471,"{'Operation1': {'Sub-operation1': 'city7', 'Su...",60.514683
"5,20,20-1",10037.328502,"{'Operation1': {'Sub-operation3': 'city7', 'Su...",61.657185
"5,20,20-2",11496.384328,"{'Operation1': {'Sub-operation1': 'city16', 'S...",61.720897
"5,20,20-3",12724.931577,"{'Operation1': {'Sub-operation1': 'city15', 'S...",61.68613

In [9]:
df_result.to_csv("../data/solutions/mip_paper.csv", index=True)

### MIP Simplified

The exact formulation of the problem is divided into n subtasks to reduce the search dimension

In [16]:
mip_solver = MIPSolver(max_time=10)
start = time()
solution = mip_solver.solve(example_problem)
run_time = time() - start
solution, run_time

({'Operation1': {'Subtask1': 'Erfurt',
   'Subtask2': 'Erfurt',
   'Subtask4': 'Frankfurt',
   'Subtask5': 'Hamburg',
   'Subtask6': 'Berlin',
   'Subtask8': 'Erfurt',
   'Subtask9': 'Erfurt',
   'Subtask10': 'Bremen'},
  'Operation2': {'Subtask1': 'Hannover',
   'Subtask3': 'Dresden',
   'Subtask4': 'Frankfurt',
   'Subtask6': 'Berlin',
   'Subtask7': 'Hannover',
   'Subtask9': 'Dusseldorf',
   'Subtask10': 'Bremen'},
  'Operation3': {'Subtask1': 'Hannover',
   'Subtask4': 'Bremen',
   'Subtask5': 'Hamburg',
   'Subtask6': 'Berlin',
   'Subtask7': 'Hannover',
   'Subtask8': 'Erfurt',
   'Subtask10': 'Bremen'},
  'Operation4': {'Subtask1': 'Hannover',
   'Subtask2': 'Dresden',
   'Subtask3': 'Dresden',
   'Subtask4': 'Frankfurt',
   'Subtask8': 'Erfurt',
   'Subtask9': 'Erfurt',
   'Subtask10': 'Bremen'},
  'Operation5': {'Subtask1': 'Hannover',
   'Subtask2': 'Dresden',
   'Subtask3': 'Dresden',
   'Subtask4': 'Frankfurt',
   'Subtask5': 'Hamburg',
   'Subtask6': 'Berlin',
   'Subtask7': 'Hannover',
   'Subtask8': 'Erfurt',
   'Subtask9': 'Erfurt',
   'Subtask10': 'Bremen'}},
 1.203101634979248)

In [17]:
calculate_costs(example_problem, solution)

np.float64(8253.642421344399)

In [18]:
solutions = {"example": {"cost": calculate_costs(example_problem, solution), "solution": solution, "time": run_time}}

In [19]:
for param in dataset_data_params:
    number, operations, sub_operations, cities = param
    print(f"operations-{operations},sub_operations-{sub_operations},cities-{cities}-{number}")
    p = Problem.from_dataset(number, operations, sub_operations, cities)
    start = time()
    solution = mip_solver.solve(p)
    run_time = time() - start

    solutions[f"{operations},{sub_operations},{cities}-{number}"] = {"cost": calculate_costs(p, solution), 
                                                                     "solution": solution, 
                                                                     "time": run_time}

operations-5,sub_operations-10,cities-10-1
operations-5,sub_operations-10,cities-10-2
operations-5,sub_operations-10,cities-10-3
operations-5,sub_operations-5,cities-5-1
operations-5,sub_operations-5,cities-5-2
operations-5,sub_operations-5,cities-5-3
operations-10,sub_operations-10,cities-10-1
operations-10,sub_operations-10,cities-10-2
operations-10,sub_operations-10,cities-10-3
operations-5,sub_operations-10,cities-20-1
operations-5,sub_operations-10,cities-20-2
operations-5,sub_operations-10,cities-20-3
operations-5,sub_operations-20,cities-10-1
operations-5,sub_operations-20,cities-10-2
operations-5,sub_operations-20,cities-10-3
operations-5,sub_operations-20,cities-20-1
operations-5,sub_operations-20,cities-20-2
operations-5,sub_operations-20,cities-20-3

In [20]:
df_result = pd.DataFrame(solutions).T
df_result

,cost,solution,time
example,8253.642421,"{'Operation1': {'Subtask1': 'Erfurt', 'Subtask...",1.203102
"5,10,10-1",4131.125634,"{'Operation1': {'Sub-operation3': 'city1', 'Su...",0.683056
"5,10,10-2",5503.321218,"{'Operation1': {'Sub-operation1': 'city2', 'Su...",1.06692
"5,10,10-3",5849.87106,"{'Operation1': {'Sub-operation1': 'city2', 'Su...",1.087325
"5,5,5-1",2576.598208,"{'Operation1': {'Sub-operation3': 'city1', 'Su...",0.048534
"5,5,5-2",5425.946189,"{'Operation1': {'Sub-operation1': 'city4', 'Su...",0.104208
"5,5,5-3",6149.624015,"{'Operation1': {'Sub-operation1': 'city4', 'Su...",0.155079
"10,10,10-1",9761.358987,"{'Operation1': {'Sub-operation3': 'city1', 'Su...",1.752874
"10,10,10-2",10921.079954,"{'Operation1': {'Sub-operation1': 'city2', 'Su...",1.902112
"10,10,10-3",11187.172451,"{'Operation1': {'Sub-operation1': 'city2', 'Su...",2.140545
"5,10,20-1",3548.963825,"{'Operation1': {'Sub-operation3': 'city1', 'Su...",3.112474
"5,10,20-2",4524.805988,"{'Operation1': {'Sub-operation1': 'city13', 'S...",6.114651
"5,10,20-3",4955.329235,"{'Operation1': {'Sub-operation1': 'city11', 'S...",8.076928
"5,20,10-1",10687.468451,"{'Operation1': {'Sub-operation3': 'city7', 'Su...",5.749873
"5,20,10-2",12147.769571,"{'Operation1': {'Sub-operation1': 'city7', 'Su...",6.679742
"5,20,10-3",12960.070144,"{'Operation1': {'Sub-operation1': 'city7', 'Su...",8.40156
"5,20,20-1",9163.294705,"{'Operation1': {'Sub-operation3': 'city1', 'Su...",40.868999
"5,20,20-2",11025.58768,"{'Operation1': {'Sub-operation1': 'city16', 'S...",45.16463
"5,20,20-3",11642.74129,"{'Operation1': {'Sub-operation1': 'city15', 'S...",44.707953

In [21]:
df_result.to_csv("../data/solutions/mip.csv", index=True)